@font-face {
font-family: 'UEFA Supercup Regular';
font-style: normal;
font-weight: normal;
src: local('UEFA Supercup Regular'), url('/assets/fonts/UEFASupercup-Regular.woff') format('woff');
}


@font-face {
font-family: 'UEFA Supercup Light';
font-style: normal;
font-weight: normal;
src: local('UEFA Supercup Light'), url('/assets/fonts/UEFASupercup-Light.woff') format('woff');
}


@font-face {
font-family: 'UEFA Supercup Bold';
font-style: normal;
font-weight: normal;
src: local('UEFA Supercup Bold'), url('/assets/fonts/UEFASupercup-Bold.woff') format('woff');
}